[user]
	name = Your Name
	email = name@example.com

[init]
	defaultBranch = main

[alias]
	s = status
	c = commit
	graph = log --oneline --graph --all
	pushup = push --set-upstream origin HEAD

[pull]
	ff = only
	
[commit]
	verbose = true
